.service-box {
    background-color: #4db7c7;
    border-radius: 8px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .service-box:hover {
    background-color: #66c7d7;
  }
  
  .service-content {
    text-align: center;
    color: white;
  }
  
  .service-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  